<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table class="table">
      <tr>
        <div class="btn1">
          <a href="/admin/create" class="btn btn3" style="width: 805px;">Create new user</a>
        </div>
        <td>
          <% studentsList.forEach(student => {%>
          <div class="user">
            <div class="name">
              <%= student.name %> <%= student.surname %> <span class="gender"><%= student.gender %> </span> 
            </div> 
            <div>
              <%= student.birthDate %>
            </div>
            <div class="create">
              <a href="/admin/<%= student._id %>" class="btn btn3">Изменить</a>
            </div>
            <div>
              <a href="admin/delete/<%= student._id %>" onclick="return confirm('Are you sure to delete this record ?');"><div class="delete"></div></a>
            </div>
          </div> 
          <% }) %>
        </td>
      </tr>
    </table>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
