<!DOCTYPE html>
<html>
  <head>
    <title>Update</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <form>
      <div class="create-st">
        <table>
          <tr class="update-block">
            <td>blood:</td>
            <td>
              <select name="blood">
                <option value="<%= student.health.blood %>"><%= student.health.blood %></option>
                  <option value="I">I</option>
                  <option value="II">II</option>
                  <option value="III">III</option>
                  <option value="IV">IV</option>
              </select>
          </td>
          </tr>
          <tr>
            <td>resus:</td>
            <td>
              <select name="resus">
                <% if (student.health.resus) { %>
                  <option value="1">Positive</option>
                  <option value="0">Negative</option>
                <% } %>
                <% if (student.health.resus === false) { %>
                  <option value="0">Negative</option>
                  <option value="1">Positive</option>
                <% } %>
                <% if (student.health.resus === undefined) { %>
                  <option></option>
                  <option value="0">Negative</option>
                  <option value="1">Positive</option>
                <% } %>
              </select>
            </td>
          </tr>
          <tr>
            <td>width:</td>
            <td><input type="text" name="width" value="<%= student.health.width %>"></td>
          </tr>
          <tr>
            <td>weight:</td>
            <td><input type="text" name="weight" value="<%= student.health.weight %>"></td>
          </tr>
        
        </table>
     
        <div class="button">
          <div class="btn-ok">
            <a href="/medcard/update">
              <button class="button-click" type="submit" >OK</button>
            </a><br>
            <div class="btn-back">
              <a href="/medcard" class="btn btn3">Back</a>
            </div>
          </div> 
        </div>

      <div class="answer-med"></div>

      <div class="family">
        <div class="create-st">
          <table>
            <tr>
              <td>name:</td>
              <td><%= student.name %></td>
            </tr>
            <tr>
              <td>surname:</td>
              <td><%= student.surname %></td>
            </tr>
            <tr>
              <td>gender:</td>
              <td><%= student.gender %></td>
            </tr>
            <tr>
              <td>birthDate:</td>
              <td><%= student.birthDate %></td>
            </tr>
            <tr>
              <td>age:</td>
              <td><%= student.age %></td>
            </tr>
            <tr>
              <td>adress:</td>
              <td><%= student.adress %></td>
            </tr>
            <tr>
              <td class="bold">Father</td>
            </tr>
            <tr>  
              <td>name:</td>
              <td><%= student.family.father.name %></td>
            </tr>
            <tr>
              <td>surname:</td>
              <td><%= student.family.father.surname %></td>
            </tr>
            <tr>
              <td>number:</td>
              <td><%= student.family.father.number %></td>
            </tr>
            <tr>
              <td class="bold">Mother</td>
            </tr>
            <tr>  
              <td>name:</td>
              <td><%= student.family.mother.name %></td>
            </tr>
            <tr>
              <td>surname:</td>
              <td><%= student.family.mother.surname %></td>
            </tr>
            <tr>
              <td>number:</td>
              <td><%= student.family.mother.number %></td>
            </tr>
            <tr>
              <td>class:</td>
              <td><%= student.class %></td>
            </tr>
            <tr>
              <td>class number:</td>
              <td><%= student.classNumber %></td>
            </tr>
          </table>
        </div>
      </div>
    </form>
  

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.js"></script>
    <script src="/js/medcard.js"></script>
  </body>
</html>
